@model ProductListModel
@inject AdminAreaSettings adminAreaSettings

@using Nop.Core.Domain.Catalog

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = "PCIE设备";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Products");
}


<form asp-controller="Product" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            设备管理
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                新增通道
            </a>
            <button type="submit" name="download-catalog-pdf" class="btn bg-purple">
                <i class="fa fa-file-pdf-o"></i>
                下载
            </button>
            

            @*<button type="button" id="delete-selected" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                   关闭设备
                </button>*@
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" @(Model.AvailableDrivers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="DriverName" />
                                    </div>
                                    <div class="col-md-4">
                                        <nop-select asp-for="DriverName" asp-items="Model.AvailableDrivers" />
                                    </div>
                                    <div class="col-md-4">
                                        <div id="passStrength" style="width: 400px;" data-role="progressbar" class="k-widget k-progressbar k-progressbar-horizontal">
                                            <span class="k-progress-status-wrap">
                                                <span class="k-progress-status">25.G5可用</span>
                                            </span>
                                            <div class="k-state-selected" style="width: 56%;">

                                            </div>

                                        </div>
                                        @*<h5>Text <span style="margin-left:10px;vertical-align:central;padding-bottom:5px;">TotalSizeText</span></h5>*@


                                    </div>
                                </div>

                                <div class="form-group" @(Model.AvailableDMA.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SelectedDma" />
                                    </div>
                                    <div class="col-md-4">
                                        <nop-select asp-for="SelectedDma" asp-items="Model.AvailableDMA" />
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group" @(Model.AvailableMethod.SelectionIsNotPossible() ? Html.Raw("style='display: none;'") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SelectedMethod" />
                                    </div>
                                    <div class="col-md-4">
                                        <nop-select asp-for="SelectedMethod" asp-items="Model.AvailableMethod" />
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="button"  style="width:100px;margin-left:10px;" id="connect-device" class="btn btn-primary ">
                                    <i class="fa fa-search"></i>
                                    连接设备
                                </button>
                                <button type="button" style="margin-left:20px;"   id="check-device" class="btn btn-success disabled">
                                    <i class="fa fa-cloud-upload"></i>
                                    设备自检
                                </button>
                                <button type="button" style="margin-left:20px;"  id="read-data" class="btn btn-linkedin disabled">
                                    <i class="fa fa-download"></i>
                                   读取数据
                                </button>
                                <button type="button" style="margin-left:20px;" id="close-device" class="btn bg-red">
                                    <i class="fa fa-trash-o"></i>
                                    关闭设备
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="products-grid"></div>
                        <script>
                            $(document).ready(function() {
                                $("#products-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("ProductList", "Product"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                    },
                                    pageable: false,
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Name",
                                            title: "通道名称",
                                            width: 300
                                        },  {
                                            field: "UpdatedWriteOn",
                                            title: "上次采集时间",
                                            width: 200,
                                            format:"{0:yyyy-MM-dd HH:mm}"
                                        }, {
                                            field: "DefaultDir",
                                            title: "默认文件夹",
                                            width: 100
                                        },  {
                                            field: "Published",
                                            title: "通道状态",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        }, {
                                            field: "Id",
                                            title: "操作",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("预览")</a> <a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>打开</a> <a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>关闭</a>'
                                        }
                                    ]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var selectedIds = [];

        $(document).ready(function () {
            //search button
            $('#search-products').click(function () {
                //search
                var grid = $('#products-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });


            //delete selected
            $('#delete-selected').click(function(e) {
                e.preventDefault();

                var postData = {
                    selectedIds: selectedIds
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("DeleteSelected", "Product"))",
                    data: postData,
                    complete: function(data) {
                        //reload grid
                        var grid = $('#products-grid').data('kendoGrid');
                        grid.dataSource.read();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });
                return false;
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchWarehouseId: $('#SearchWarehouseId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val(),
                SearchPublishedId: $('#SearchPublishedId').val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        function onDataBound(e) {
            $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
</form>
 
<script type="text/javascript">
        $(document).ready(function () {
            $('#DriverName').on("change",function (e) {
                e.preventDefault();
                alert(e.target.value);
                debugger;
                var postData = {
                    diskName: e.target.value
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("SelectedDir", "Product"))",
                    data: postData,
                    complete: function(data) {
                        //reload grid
                        debugger;
                    },
                    success: function (data) {
                        console.log(data);
                        debugger;
                    },  
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });
                return false;
            });
        });
</script>

 
 