@model DirectoryListModel

@inject AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Categories");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
      文件管理
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            添加
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
              导出
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a asp-action="ExportXml">
                        <i class="fa fa-file-code-o"></i>
                        @T("Admin.Common.ExportToXml")
                    </a>
                </li>
                <li>
                    <a asp-action="ExportXlsx">
                        <i class="fa fa-file-excel-o"></i>
                        @T("Admin.Common.ExportToExcel")
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            上传文件
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group" @(Model.AvailableDrivers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchDriverId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchDriverId"  asp-items="Model.AvailableDrivers" />
                                </div>
                            </div>
							<div class="form-group">
								<div class="col-md-4">
									<nop-label asp-for="SearchDriverName" />
								</div>
								<div class="col-md-8">
									<nop-editor asp-for="SearchDriverName" />
								</div>
							</div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-categories" class="btn btn-primary btn-search"><i class="fa fa-search"></i>搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="categories-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#categories-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "Directorys"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                            create: {
                                        url: "@Html.Raw(Url.Action("DirOrFileAdd", "Directorys"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                         update: {
                                        url: "@Html.Raw(Url.Action("DirOrFileUpdate", "Directorys"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("DirOrFileDelete", "Directorys"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model:
                                        {
                                            id: "Id",
                                            fields:
                                            {
                                                Id: { editable: false, nullable: true },
                                                Icon: { editable: false },
                                                Name: { type: "string", validation: { required: true } },
                                                FullName: { type: "string" },
                                                Length: { type: "number" },
                                                LastWriteTime:{type:"string"}
                                            }
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    }
                                },
                                pageable: false,
                                editable: {
                                    confirmation: "确认要删除当前选项吗？",
                                    mode: "popup",
                                    template: kendo.template($("#popup-editor").html())
                                },
                                edit: function (e) {                                     
                                    e.container.data("kendoWindow").title("编辑名称");
                                },
								selectable: true,
								scrollable: true,
								culture: "zh-CN",
                                toolbar: kendo.template($("#tooltemplate").html()),
								columns: [
									{
										field: "Icon",
										title: "&nbsp;",
                                        width: 48,
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:center" },
                                        template: '# if(Icon) {# <img src="/images/#=Icon#" style="height:32px;"> #}#',
									 },
                                    {
                                        field: "Name",
                                        title: "名称"
                                    },{
                                        field: "FullName",
                                        title: "路径",
                                    },
                                     {
                                        field: "Extension",
                                        title: "类型",
                                        width:60
                                    },
									{
										field: "Length",
										title: "大小",
										width: 100
									},
									{
										field: "LastWriteTime",
                                        title: "修改日期",
										width: 150,
										format: "",
									},
									{ command: [{ name: "edit", text: { edit: "编辑", update: "保存", cancel: "取消" } },{name: "destroy",text:"删除" }], title: "&nbsp;", width: "200px" }
                                ]
							});
							$("#categories-grid").delegate("tbody>tr", "dblclick", function (ev,item) {
								var grid = $("#categories-grid").data("kendoGrid");
								var row = grid.select();
								var data = grid.dataItem(row);
								console.log(data);
								if (data.IsDir) {
									$('#@Html.IdFor(model => model.SearchDriverName)').val(data.FullName);
									//var grid = $('#categories-grid').data('kendoGrid');
									//grid.dataSource.page(1);
									//grid.dataSource.read();
									$("#search-categories").click();
									return false;
								}
							});
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            //search button
                            $('#search-categories').click(function() {
                                //search
                                var grid = $('#categories-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                grid.dataSource.read(); //we already loaded the grid above using "page" function
                                return false;
                            });

							$("#@Html.IdFor(model => model.SearchDriverId)").on("change", function (event) {
								$('#@Html.IdFor(model => model.SearchDriverName)').val('');
								$("#search-categories").click();
							});
						 $("#@Html.IdFor(model => model.SearchDriverName)").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $("#search-categories").click();
                                    return false;
                                }
                            });
                         $("#btnrefresh").click(function () {
                             var text = $('#@Html.IdFor(model => model.SearchDriverName)').val();
                             var index = text.lastIndexOf("\\");
                             var newValue = text.substring(0, index);
                             $('#@Html.IdFor(model => model.SearchDriverName)').val(newValue);
                             
                             $("#search-categories").click();
                             return false;
                         });
                        });

                        function additionalData() {
                            var data = {
								SearchDriverName: $('#@Html.IdFor(model => model.SearchDriverName)').val(),
								SearchDriverId: $('#SearchDriverId').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

@*import categories form*@
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog" style="margin-top:20%"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="uploadClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">上传文件</h4>
            </div>
            <form asp-controller="Category" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body"> 
						<div id="example">
							<div>
								<div class="demo-section k-content">
									<input name="files" id="files" type="file" />
								</div>
							</div> 
							<script>
								$(document).ready(function () {
									$("#files").kendoUpload({
										localization: {
											select: "选择文件",
											cancel: "取消",
											headerStatusUploading: "正在上传...",
											statusFailed: "上传失败"
										},
										async: {
											chunkSize: 11000,// bytes
											saveUrl: "/admin/upload/chunkSave",
											removeUrl: "/admin/upload/remove",
											autoUpload: true
										}
									}); 
								});
							</script>
						</div>

                       
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            上传
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script id="popup-editor" type="text/x-kendo-template"> 
    <p>
        <label style="margin-left:15px;">名称:<input data-bind="value:Name" /> 
        </label>
    </p> 
</script>
<script type="text/x-kendo-template" id="tooltemplate">
    <div style="display:inline-block;">
        <a href="\\#" id="btnrefresh" class="k-pager-refresh k-link k-button" title="Refresh"><span class="k-icon k-i-reload"></span></a>
        <a  class="k-button k-button-icontext k-grid-add" href="\\#"><span class="k-icon k-add"></span>新建文件夹</a>
    </div> 
</script>
<script type="text/javascript">
								$(document).ready(function () { 
									$("#uploadClose").on("click", function () {
										window.location.reload();
									 }); 
						 	});
								 
</script>