@model DirectoryListModel

@inject AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Categories");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
      文件管理
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                @T("Admin.Common.Export")
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a asp-action="ExportXml">
                        <i class="fa fa-file-code-o"></i>
                        @T("Admin.Common.ExportToXml")
                    </a>
                </li>
                <li>
                    <a asp-action="ExportXlsx">
                        <i class="fa fa-file-excel-o"></i>
                        @T("Admin.Common.ExportToExcel")
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            @T("Admin.Common.Import")
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6"> 
                            <div class="form-group" @(Model.AvailableDrivers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchDriverId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchDriverId"  asp-items="Model.AvailableDrivers" />
                                </div>
                            </div>
							<div class="form-group">
								<div class="col-md-4">
									<nop-label asp-for="SearchDriverName" />
								</div>
								<div class="col-md-8">
									<nop-editor asp-for="SearchDriverName" />
								</div>
							</div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-categories" class="btn btn-primary btn-search"><i class="fa fa-search"></i>搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="categories-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#categories-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "Directorys"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    }
                                },
                                pageable: false,
                                editable: {
                                    confirmation: "确认要删除当前选项吗？",
									mode: "popup"
								},
								selectable: true,
								scrollable: true,
								culture: "zh-CN",
								toolbar: [{ name: "create", text: "新建文件夹" }],
								columns: [
									{
										field: "IsDir",
										title: "&nbsp;",
										width: 60,
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:center" },
										template: '# if(IsDir) {# <img src="/images/folder.png" style="height:32px;"></i> #} else {#  #} #'
									},
                                    {
                                        field: "Name",
                                        title: "名称"
                                    },{
                                        field: "FullName",
                                        title: "路径", 
									},
									{
										field: "Length",
										title: "大小",
										width: 100
									},
									{
										field: "LastWriteTime",
                                        title: "修改日期",
										width: 150, 
										format: "",
									},
									{ command: [{ name: "edit", text: { edit: "编辑", update: "保存", cancel: "取消" } },{name: "destroy",text:"删除" }], title: "&nbsp;", width: "250px" }
                                ]
							});
							$("#categories-grid").delegate("tbody>tr", "dblclick", function (ev,item) {
								var grid = $("#categories-grid").data("kendoGrid");
								var row = grid.select();
								var data = grid.dataItem(row);
								console.log(data);
								if (data.IsDir) {
									$('#@Html.IdFor(model => model.SearchDriverName)').val(data.FullName);
									//var grid = $('#categories-grid').data('kendoGrid');
									//grid.dataSource.page(1);
									//grid.dataSource.read();
									$("#search-categories").click();
									return false;
								}
							});
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            //search button
                            $('#search-categories').click(function() {
                                //search
                                var grid = $('#categories-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                grid.dataSource.read(); //we already loaded the grid above using "page" function
                                return false;
                            });

							$("#@Html.IdFor(model => model.SearchDriverId)").on("change", function (event) {
								$('#@Html.IdFor(model => model.SearchDriverName)').val('');
								$("#search-categories").click();
							});
							  $("#@Html.IdFor(model => model.SearchDriverName)").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $("#search-categories").click();
                                    return false;
                                }
                            });
                        });

                        function additionalData() {
                            var data = {
								SearchDriverName: $('#@Html.IdFor(model => model.SearchDriverName)').val(),
								SearchDriverId: $('#SearchDriverId').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

@*import categories form*@
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="Category" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Catalog.Categories.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>